---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

import "../../styles/global.scss"

const res = await fetch("http://localhost:3000/posts.json");
const AllPosts = await res.json()

const post = AllPosts.find((p) => p.id === Astro.params.postID)

const pageTitle = post.title
---


<!-- <Header>
</Header> -->
<BaseLayout pageTitle={pageTitle}>

  <div>
    <div>Ebin text mane!</div>
  </div>

</BaseLayout>