---
import BaseLayout from '../layouts/BaseLayout.astro';

import Test2 from "../components/test2.svelte"
import {Content as MDXPost2} from "../content/main_page/mdx_test.mdx"

import "../styles/global.scss"

// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
//console.log("This runs in your terminal, not the browser!");

// Import a single file
// import {Content as CodeExample} from "../pages/posts/code-example.md";

//import Header from '../components/Header.astro';
//import Footer from '../components/Footer.astro';

const pageTitle = "Home Page"
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<BaseLayout pageTitle={pageTitle}>

  <div style={{display: "flex",flexDirection: "column", placeItems: "center"}}>

  <MDXPost2 />

  <Test2 />

  <h2>My awesome website subtitle</h2>

  </div>

  <!-- <CodeExample/> -->

  <!-- <p>Post Archive:</p>
  <ul>
  {posts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul> -->


  <script>
    import "../scripts/menu.js";
  </script>

</BaseLayout>